/* style-page-contact.css */

:root {
  --primary-color: #34495e;
  --secondary-color: #be2d37;
  --background-color: #ecf0f1;
  --text-color: #34495e;
  --accent-color: #ffffff;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: var(--accent-color);
}

.contact-info {
  width: 50%;
  padding: 20px;
}

.contact-info h2 {
  font-family: 'Swis721 BlkCn BT', sans-serif;
  color: var(--secondary-color);
  font-size: 36px;
}

.contact-info p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
}

/* .contact-form {
  flex: 1;
  padding: 20px;
} */

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  font-size: 16px;
}

.contact-form button {
  display: flex;
  padding: 10px;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  gap: 10px;
}

.contact-form button:hover {
  background-color: darken(var(--primary-color), 10%);
}

.contact-logo {
  width: 25px;
  height: 25px;
}

@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
  }

  .contact-info,
  .contact-form {
    width: 100%;
  }
}
